@charset "utf-8";
/* 顶部 */
#ding{height: 80px;background:url('../img/55d5fb7fe7fffa431e17fff6de6e3dc7ffb05170.jpg') no-repeat center}
/* 导航 */
#nav{height: 32px;background: #f2f2f2}
#nav .navshow{width: 1200px;height: 32px;margin: 0 auto;}
#nav .deng{width: 200px; height:32px;float: left;}
.deng h2{font-size: 12px;line-height: 32px;float: left;}
.deng p{float: right;font-size: 12px;line-height: 32px;}
.deng p a{cursor: pointer;color: #ec3e7d}
.deng2{width: 662px;height: 32px;float: left;margin-left: 295px;}
.deng2 ul li{float: left;}
.deng2 ul li a{font-size: 12px;line-height: 32px;padding: 12px;color: black}
.deng2 ul li a i{color: #ec3e7d}
.dengd a img{display: inline-block;}
.deng2 ul li:hover{background: white} 
/* 账户列表 */
#list{width: 89px;background: white; position: absolute;left: 535px;display: none;position: absolute;z-index: 1;}
#list ul li{font-size: 12px;margin-left: 8px;}
#list ul li a{color: black;display: block;padding: 3px;}
#list ul li a:hover{color:#ec3e7d}
/* 我的购物车 */
#kong{width: 300px;height: 70px;background: white; margin-left: 470px;display: none;position: absolute;z-index: 1;}
#kong p{font-size: 12px;margin-left: 50px;line-height: 20px;padding: 6px;}
/* 二维码 */
#eweima img{width: 100px;height: 100px;position: absolute;left: 1100px;display: none}
/* logo */
#logo{height: 95px;}
#logo .logoshow{width: 1200px;height: 95px;margin: 0 auto; position: relative;}
#logo .logoshow h1 img{float: left; margin-top: 20px;}
/* 搜索框 */
#iput{width:460px;height: 36px;float: left; margin-left: 250px;margin-top: 18px;}
#iput form input{width: 360px;height: 30px;border: 3px solid #ec3e7d;float: left;}
#iput .sbtn{width: 90px;height: 36px;float: left;color: white;background: #ec3e7d}
#pinpai{width: 400px;height: 30px;position: absolute;left: 420px;top:55px;} 
#pinpai ul li{float: left;}
#pinpai ul li a{font-size: 14px;color: #999;padding: 0 9px;border-right: 1px solid #999;line-height: 30px;}
/* fnav */
#fnav{height: 36px;}
#fnav .fnavshow{width: 1200px;height: 36px;margin: 0 auto}
#fenlei{width: 190px;height: 36px;background:#333; position: relative;float: left;}
#fenlei h2{color: white;line-height: 36px;float: left;margin-left: 50px;}
#fenlei .g1{width: 16px;height: 2px;background: white;position: absolute;left: 20px;top: 10px;}
#fenlei .g2{width: 16px;height: 2px;background: white;position: absolute;left: 20px;top: 16px;}
#fenlei .g3{width: 16px;height: 2px;background: white;position: absolute;left: 20px;top: 22px;}
#glist{width: 583px;height: 36px;float: left;margin-left: 24px;}
#glist ul li a{float: left;line-height: 36px;padding-right: 40px;color: #111}
#glist ul li a:hover{color: #ec3e7d}
/* banner */
#banner{height: 420px;overflow: hidden;}
#banner .bannershow{width: 1200px;height: 420px;margin: 0 auto;position: relative;}
#banner img{position: absolute;left: 50%;margin-left: -960px}
.bannershow .yuan ul{position: absolute;left: 520px;bottom: 20px}
.bannershow .yuan ul li{float: left;width: 24px;height: 24px;background: #333;opacity: 0.3; border-radius: 24px;margin-left: 4px;cursor: pointer;border: 3px solid rgba(255,255,255,0.7)}
.bannershow .banfen{width: 190px;height: 420px;position: absolute;top: 0px;}
.bannershow .banfen ul li{border-bottom: 1px dotted #fe7dab;padding: 16px 50px;position: relative;background: #fa3778} 
.bannershow .banfen ul li a{color: white}
.bannershow .banfen ul li:hover{background: white;}
.bannershow .banfen ul li:hover a{color: #333}
.bannershow .banfen ul li i{position: absolute;right: 20px;top: 20px;color: white}
.bannershow .banfen ul li:hover i{color: #333}
#mianbu{width: 340px;height:420px;background: white;border: 1px solid #e93b78; position: absolute;top:0px;left:190px;display: none}
#mianbu h2{width: 288px;height: 80px;margin-left: 20px;}
#mianbu h2 p a{line-height: 35px;font-size: 14px;font-weight: bold;color: #333}
#mianbu h2 a{font-size: 12px;color: #3e3e3e;}
#mianbu h2 p a:hover{color: #fa3778; }
#mianbu h2 a:hover{color:#fa3778}
#cai{width: 340px;height:242px;background: white;border: 1px solid #e93b78; position: absolute;top:52px;left:190px;display: none}
#cai h2{width: 288px;height: 80px;margin-left: 20px;}
#cai h2 p a{line-height: 35px;font-size: 14px;font-weight: bold;color: #333}
#cai h2 a{font-size: 12px;color: #3e3e3e;}
#cai h2 p a:hover{color: #fa3778; }
#cai h2 a:hover{color:#fa3778} 
#xiang{width: 340px;height:124px;background: white;border: 1px solid #e93b78; position: absolute;top:104px;left:190px;display: none}
#xiang h2{width: 288px;height: 80px;margin-left: 20px;}
#xiang h2 p a{line-height: 35px;font-size: 14px;font-weight: bold;color: #333}
#xiang h2 a{font-size: 12px;color: #3e3e3e;}
#xiang h2 p a:hover{color: #fa3778; }
#xiang h2 a:hover{color:#fa3778}
#jian{width: 340px;height:124px;background: white;border: 1px solid #e93b78; position: absolute;top:158px;left:190px;display: none}
#jian h2{width: 288px;height: 80px;margin-left: 20px;}
#jian h2 p a{line-height: 35px;font-size: 14px;font-weight: bold;color: #333}
#jian h2 a{font-size: 12px;color: #3e3e3e;}
#jian h2 p a:hover{color: #fa3778; }
#jian h2 a:hover{color:#fa3778} 
#xian{width: 340px;height:124px;background: white;border: 1px solid #e93b78; position: absolute;top:215px;left:190px;display: none}
#xian h2{width: 288px;height: 80px;margin-left: 20px;}
#xian h2 p a{line-height: 35px;font-size: 14px;font-weight: bold;color: #333}
#xian h2 a{font-size: 12px;color: #3e3e3e;}
#xian h2 p a:hover{color: #fa3778; }
#xian h2 a:hover{color:#fa3778} 
#ge{width: 340px;height:170px;background: white;border: 1px solid #e93b78; position: absolute;top:240px;left:190px;display: none}
#ge h2{width: 288px;height: 80px;margin-left: 20px;}
#ge h2 p a{line-height: 35px;font-size: 14px;font-weight: bold;color: #333}
#ge h2 a{font-size: 12px;color: #3e3e3e;}
#ge h2 p a:hover{color: #fa3778; }
#ge h2 a:hover{color:#fa3778} 
#nan{width: 340px;height:120px;background: white;border: 1px solid #e93b78; position: absolute;top:265px;left:190px;display: none}
#nan h2{width: 288px;height: 80px;margin-left: 20px;}
#nan h2 p a{line-height: 35px;font-size: 14px;font-weight: bold;color: #333}
#nan h2 a{font-size: 12px;color: #3e3e3e;}
#nan h2 p a:hover{color: #fa3778; }
#nan h2 a:hover{color:#fa3778} 
#yun{width: 340px;height:124px;background: white;border: 1px solid #e93b78; position: absolute;bottom: 0px;left:190px;display: none}
#yun h2{width: 288px;height: 80px;margin-left: 20px;}
#yun h2 p a{line-height: 35px;font-size: 14px;font-weight: bold;color: #333}
#yun h2 a{font-size: 12px;color: #3e3e3e;}
#yun h2 p a:hover{color: #fa3778; }
#yun h2 a:hover{color:#fa3778} 
/* 公告 */
#gongg{height: 28px;}
#gongg{width: 1200px;height: 28px;margin: 0 auto}
.gongshow i{color: #ec3e7d;line-height: 28px;float: left;}
.gongshow span{color: #ec3e7d;line-height: 28px;float: left;}
.tongzhi{width: 270px;height: 28px;float: left;margin-left: 20px;}
.tongzhi p{line-height:28px;font-size: 16px;color: #999}
/* 专场 */
#zhuanc{height: 210px;}
#zhuanc .zhuanshow{width: 1200px;height: 210px;margin: 0 auto}
.zhuanshow a img{float: left;margin-top: 20px;margin-right: 10px;}
/* 直送 */
#zhisong{height: 120px;}
#zhisong .zhishow{width: 1200px;height: 120px;margin: 0 auto;}
.zhisong{width: 192px;height: 120px;float: left;margin-left: 40px}
.zhisong span{display: block; width: 32px;height: 32px;background: url(../img/promise_icon.png);float: left; margin-top: 45px;}
.zhisong .xiang{width: 160px;height: 120px;float: left;}
.xiang h2{font-size: 18px;color: #222222;margin:40px 0 0 6px;}
.xiang p{font-size: 13px;color: #999999;margin: 6px 0 0 6px;}
.zhishow .z1 span{background: url(../img/promise_icon.png) no-repeat -56px;}
.zhishow .z2 span{background: url(../img/promise_icon.png) no-repeat -115px;}
.zhishow .z3 span{background: url(../img/promise_icon.png) no-repeat -178px;}
.zhishow .z4 span{background: url(../img/promise_icon.png) no-repeat -238px;}
/* 每日必看 */
#mei{height: 26px;}
.meir{width: 1200px;height: 26px;background: url(../img/must_check.png) no-repeat;margin: 0 auto; margin-top: 10px;}
/* 每日列表 */
#melist{height: 260px;}
#melist .mlist{width: 1200px;height: 260px;margin: 0 auto;margin-top: 26px}
.mlist .mli{width: 590px;height: 260px;float: left;margin-right: 10px;}
.mli a img{float: left;}
.mlist .miaoshu{width: 230px;height: 260px;float: left;text-align: center;position: relative;}
.miaoshu h2{margin-top: 60px;font-size: 22px;color: #e93b78;}
.miaoshu h3{color: #5a5a5a;font-size: 17px; margin-top: 10px;}
.miaoshu p{color: #5a5a5a;font-size: 13px;margin-top: 3px;}
.miaoshu span{display: block;width: 108px;height: 32px;background: #e93b78;line-height: 32px;text-align: center;position: absolute;
left: 62px;bottom: 50px;color: #fff;font-size: 16px;}
/* 限时特卖 */
#xianshi{height: 26px;}
#xianshi .xians{width: 1200px;height: 26px;background:url(../img/limitted_offer.png) no-repeat;margin: 0 auto;margin-top: 34px;}
/* 限时开抢 */
#xiankai{height: 22px;}
#xiankai .xiank{width: 1200px;height: 22px;margin: 0 auto;margin-top: 10px;}
.xiank p{text-align: center;line-height: 22px;font-size: 22px;}
/* 显示商品列表 */
#xianlist{height: 360px;}
#xianlist .xianl{width: 1200px;height: 360px;margin: 0 auto;margin-top: 26px;}
.xianl a img{float: left;}
.xianm{width: 480px;height: 360px;float: left;margin-left: 50px}
.shijian{width: 112px;height: 24px;background: #222222; margin-top:50px;line-height: 24px;color: white}
.xianm h2{width:480px;height: 120px;line-height: 30px;  font-size: 18px;text-indent: 2em;margin-top: 10px;}
.xianm p{margin-top: 20px}
.xianm p span{color: #ee9c23;font-size: 13px;}
.xianm p em{font-size: 14px;}
.xianm h3{margin-top: 6px;}
.xianm h3 span{font-weight:600;color: #fc3f83;font-size: 32px;}
.xianm h3 sub{font-size: 13px;color: #999;text-decoration: line-through}
.xianm h4{width: 92px;height: 32px;background: #e93b78;line-height: 32px;text-align: center;cursor: pointer;color: #fff; font-size: 16px;margin-left: 350px;}
/* 差看更多特卖 */
#morebuy{height: 36px;}
#morebuy .moreb{width: 1200px;height: 36px;margin:0 auto;margin-top: 20px;}
.moreb p{width: 160px;height: 36px;background: #e93b78;border-radius: 18px;line-height: 36px;text-align: center;font-size: 16px;color: white;margin-left: 525px;}
/* 销售排行榜 */
#painav{height: 26px;}
#painav .paishow{width: 1200px;height: 26px;background:url(../img/title_ranking.png) no-repeat;margin: 0 auto;margin-top: 30px;}
/* 各种排行榜 */
#pailist{height: 64px;}
#pailist .pailshow{width: 1200px;height: 64px;margin: 0 auto;margin-top: 26px;}
.pailshow h2{width: 382px;height: 64px;text-align: center;line-height: 64px;font-size: 22px;color: #111111;float: left;margin-right: 18px;border-top: 2px solid #e93b78}
/* 各种商品列表 */
#splist{height: 520px;margin-top: 5px;}
#splist .splistshow{width: 1200px;height: 520px;margin: 0 auto}
.lshow{width: 382px;height: 520px;float: left;margin-left: 13px;}
.lshow1{width: 382px;height: 101px;background: url(../img/ranking_1.png) no-repeat;}
.lshow1 img{width: 60px;height: 60px;float: left; margin-top:20px;margin-left: 20px;opacity: 10;}
.spmiao{width: 270px;height: 36px;float: left;margin-left: 22px;margin-top: 20px}
.spmiao span{font-size: 13px;color: #ee9c23;}
.spmiao em{font-size: 12px;}
.sprice{width: 270px;height: 20px;float: left;margin-left: 22px;margin-top: 20px}
.sprice span{ color: #fc3f83;font-size: 16px;line-height: 20px;}
.sprice i{color: #999; line-height: 20px;text-decoration: line-through;font-size: 13px;}
.sprice em{margin-left: 135px;line-height: 20px;color:#999;font-size: 11.3px;}
.lshowa{background: url(../img/ranking_2.png) no-repeat}
.lshowb{background: url(../img/ranking_3.png) no-repeat}
.lshowc{background: white}
.lshowd{background: white}
/* 新品 */
#logoxin{height: 26px;}
#logoxin .logoxinshow{width: 1200px;height: 26px;margin: 0 auto;background: url(../img/new_arrival.png) no-repeat;margin-top: 26px;}
/* 新品列表 */
#listxin{height: 1182px;}
#listxin .lixinshow{width: 1200px;height: 1182px;margin: 0 auto;margin-top: 26px}
.newxin{width: 291px;height: 382px;float: left;position: relative;margin-left: 7px;margin-bottom: 4px}
.newxin img{width: 271px;height: 271px;margin: 9px}
.newxin span{display: block;width: 40px;height: 40px;background:#80b53f;position: absolute;left: 20px;top: 20px;line-height:18px; text-align: center; font-size: 14px;color: #fff;}
.newxin h2{width: 250px;height: 36px;margin-top: 12px;margin-left: 15px;}
.newxin h2 i{color: #ee9c23;font-size: 13px;}
.newxin h2 em{font-size: 13px;color: #222;}
.newxin p{width: 250px;height: 30px;margin-top: 20px;margin-left: 15px;}
.newxin p i{font-size: 18px;color: #fc3f83;}
.newxin p em{color: #999;text-decoration: line-through;font-size: 13px}
/* bottom */
#bottom{height: 270px;}
#bottom .bottomshow{width: 1200px;height: 270px;margin: 0 auto;position: relative;}
.bottomshow ul{float: left;margin-right: 110px;margin-top: 20px}
.bottomshow ul p{color: #222;font-size: 14px;font-weight: bolder}
.bottomshow ul li{margin-top: 8px;font-size: 12px;}
.bottomshow ul li a{color: #999;}
.bottomshow h2 img{width: 128px;height: 128px;position: absolute;right: 205px;top: 20px}
.bottomshow h3 img{width: 128px;height: 128px;position: absolute;right:20px;top: 20px}
.bottomshow h4{width: 95px;height: 22px;position: absolute;text-align:center;font-size: 12px;font-weight: bold;color: #111111;right: 220px;top: 165px;line-height: 20px}
.bottomshow h5{width: 128px;height: 22px;position: absolute;text-align:center;font-size: 12px;font-weight: bold;color: #111111;right: 15px;top: 165px;line-height: 20px}
.bottomshow h6 img{float: left; margin-top: 25px}
/* 底部 */
#dibu{height: 102px;background:#000}
#dibu .dibushow{width: 1200px;height: 102px;margin:0 auto;position: relative;}
.dibushow ul li{float: left;margin-top: 30px;font-size: 12px;padding:0 8px;border-right: 1px solid white}
.dibushow ul li:last-of-type{border: 0}
.dibushow ul li a{color:white}
.dibushow p{ position: absolute;left: 8px;top: 60px;font-size: 12px;color: white}
